{% load static %}

<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>สาขาวิทยาการคอมพิวเตอร์ - สุดเท่</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static\css\style.css" />
  </head>
  <body id="page-top">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
          <div class="logo-container">
            <img
              src="static/image/logoCS.png"
              alt="Logo"
              width="40"
              height="40"
              class="d-inline-block align-text-top"
            />
            <a class="navbar-brand" href="#page-top">Computer Science</a>
          </div>
          <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">หน้าหลัก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#curriculum3">หลักสูตร</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#finish4">จบแล้วทำอาชีพอะไรได้บ้าง</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#studentwork5">ผลงานนักศึกษา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#activity1">กิจกรรม</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact2">ติดต่อเรา</a>
              </li>
              
              <button type="button" class="btn btn-primary" onclick="redirectTo('https://www.oass.sskru.ac.th/std.sskru/s1.html?fbclid=IwAR2S1BxOZNeff9TkRAGmhRp3tchZbF61JbWnWK73VlBNTO4Z4aZnYzwc4lw')">สมัครเรียน</button>
            </ul>
          </div>
        </div>
      </nav>

      <section class="hero" id="home">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="static\image\pro.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">สร้างอนาคตด้วยวิทยาการคอมพิวเตอร์</h1>
              <h3 class="display-5 fw-bold lh-1 mb-3">มหาวิทยาลัยราชภัฎศรีสะเกษ</h3>
              <p class="lead">เรียนรู้ สร้างสรรค์ และพัฒนานวัตกรรมที่จะเปลี่ยนแปลงโลก</p>
              <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button type="button" class="btn btn-lg px-4 me-md-2" onclick="redirectTo('https://www.oass.sskru.ac.th/std.sskru/s1.html?fbclid=IwAR2S1BxOZNeff9TkRAGmhRp3tchZbF61JbWnWK73VlBNTO4Z4aZnYzwc4lw')">สมัครเรียน</button>
              </div>
            </div>
          </div>
      </section>
    </header>

    <main>

      <!--curriculum-->
      {% block curriculum %}
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="container py-5" id='curriculum'>
              <div class="container text-center align-items-center">
                <h3 class="underline">เรียนกับเราแล้วดียังไง</h3>
              </div>
              <hr>
              <div class="row gx-5">
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725814074327s0qn9tpa.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>สามารถกู้ กยศ. ได้ 100%</u></h5>
                          <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษา
                            สามารถขอรับเงินกู้จากกองทุนการศึกษาเพื่อการศึกษา (กยศ) ได้เต็มจำนวน 100% ซึ่งช่วยลดภาระค่าใช้จ่ายในการศึกษา</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\172581377178446lspgmu.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>การเรียนรู้ใกล้บ้าน</u></h5>
                          <p class="card-text">สามารถเรียนอยู่ที่บ้านเราเองหรือใกล้บ้าน ทำให้สะดวกในการเดินทางและลดค่าใช้จ่าย ทำให้เรามีเวลามากขึ้นสำหรับการเรียนรู้และพัฒนาตนเอง</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725814074327iyj2tzbl.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>ติดตามเทรนด์เทคโนโลยีอย่างทันสมัย</u></h5>
                          <p class="card-text">ได้รับข้อมูลและอัพเดตล่าสุดเกี่ยวกับเทคโนโลยีใหม่ ๆ อย่างต่อเนื่อง ช่วยให้คุณไม่พลาดข่าวสารและแนวโน้มที่กำลังเป็นที่นิยม เพื่อให้คุณเข้าใจและติดตามได้อย่างสม่ำเสมอ
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\artificial-intelligence-logo-artificial-intelligence-machine-learning-concept-vector-symbol-ai-n_208588-2763.avif" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>โอกาสงานที่มีอนาคตสดใสในด้านเทคโนโลยี</u></h5>
                          <p class="card-text">สาขาวิทยาการคอมพิวเตอร์เป็นสาขาวิชาที่มีโอกาสทำงานในสาขาที่มีแนวโน้มการเติบโตสูงในอนาคต เช่น เทคโนโลยีใหม่ ๆ และนวัตกรรมที่กำลังพัฒนาอย่างรวดเร็ว</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <!-- เพิ่มการ์ดเพิ่มเติมที่นี่ -->
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868267037n454x7pb.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Data Science</u></h5>
                          <p class="card-text">การรวบรวม วิเคราะห์ และตีความข้อมูลขนาดใหญ่เพื่อให้ได้ข้อมูลเชิงลึก การใช้สถิติ การทำเหมืองข้อมูล และเทคนิคการเรียนรู้ของเครื่องเพื่อการตัดสินใจที่ดีขึ้น</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868560372zian1s5n.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Information Security</u></h5>
                          <p class="card-text">การป้องกันข้อมูลและระบบจากการเข้าถึง การเปลี่ยนแปลง หรือการทำลายที่ไม่ได้รับอนุญาต รวมถึงการพัฒนาและดำเนินการตามนโยบายและมาตรการรักษาความปลอดภัย</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868750967d944l5vi.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Computer Forensics and Cybercrime</u></h5>
                          <p class="card-text">การศึกษาและวิเคราะห์หลักฐานดิจิทัลเพื่อช่วยในการสืบสวนอาชญากรรมทางคอมพิวเตอร์ การตรวจสอบและติดตามกิจกรรมที่ผิดกฎหมายในโลกไซเบอร์</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868903956i5um4ot9.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Database Systems</u></h5>
                          <p class="card-text">การออกแบบ การจัดการ และการบำรุงรักษาระบบฐานข้อมูล การใช้ภาษาสำหรับจัดการฐานข้อมูล (เช่น SQL) และการทำงานกับข้อมูลเพื่อให้สามารถเข้าถึงและจัดการได้อย่างมีประสิทธิภาพ</p>
                        </div>
                      </div>
                    </div>
                  </div>
          
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725871239500vrb4volb.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Image Processing</u></h5>
                          <p class="card-text">การใช้เทคนิคการประมวลผลภาพเพื่อปรับปรุงหรือดึงข้อมูลจากภาพ เช่น การกรอง การแปลง และการรู้จำรูปภาพ การใช้งานในหลากหลายด้าน เช่น การแพทย์ การรักษาความปลอดภัย และการสื่อสาร</p>
                        </div>
                      </div>
                    </div>
                  </div>
          
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div class="carousel-item active" id='curriculum3'>
            <div class="container py-5" >
              <div class="container text-center align-items-center">
                <h3 class="underline">เราจะได้เรียนไรอะไรบ้าง</h3>
              </div>
              <hr>
              <div class="row gx-5">
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725814074327s0qn9tpa.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Computer Networks</u></h5>
                          <p class="card-text">ศึกษาเกี่ยวกับการเชื่อมต่อระบบคอมพิวเตอร์ผ่านเครือข่าย การส่งข้อมูล การจัดการเครือข่าย การรักษาความปลอดภัยเครือข่าย และการแก้ไขปัญหาต่าง ๆ ที่เกี่ยวข้องกับการสื่อสารข้อมูล</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\172581377178446lspgmu.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Software Engineering</u></h5>
                          <p class="card-text">เรียนรู้กระบวนการสร้างซอฟต์แวร์ การวิเคราะห์และออกแบบระบบ การพัฒนา การทดสอบ การบำรุงรักษา และการจัดการโครงการซอฟต์แวร์</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725814074327iyj2tzbl.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Geographic Information System</u></h5>
                          <p class="card-text">การใช้เทคโนโลยีเพื่อเก็บรวบรวม วิเคราะห์ และแสดงข้อมูลทางภูมิศาสตร์ การสร้างแผนที่ การจัดการข้อมูลที่เกี่ยวข้องกับพื้นที่ และการตัดสินใจตามข้อมูลเชิงพื้นที่</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\artificial-intelligence-logo-artificial-intelligence-machine-learning-concept-vector-symbol-ai-n_208588-2763.avif" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Artificial Intelligence</u></h5>
                          <p class="card-text">การศึกษาและพัฒนาเทคโนโลยีที่ทำให้คอมพิวเตอร์สามารถทำงานที่ต้องการความฉลาดเช่นเดียวกับมนุษย์ เช่น การเรียนรู้ของเครื่อง การประมวลผลภาษาธรรมชาติ และการจำลองปัญญาประดิษฐ์</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <!-- เพิ่มการ์ดเพิ่มเติมที่นี่ -->
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868267037n454x7pb.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Data Science</u></h5>
                          <p class="card-text">การรวบรวม วิเคราะห์ และตีความข้อมูลขนาดใหญ่เพื่อให้ได้ข้อมูลเชิงลึก การใช้สถิติ การทำเหมืองข้อมูล และเทคนิคการเรียนรู้ของเครื่องเพื่อการตัดสินใจที่ดีขึ้น</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868560372zian1s5n.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Information Security</u></h5>
                          <p class="card-text">การป้องกันข้อมูลและระบบจากการเข้าถึง การเปลี่ยนแปลง หรือการทำลายที่ไม่ได้รับอนุญาต รวมถึงการพัฒนาและดำเนินการตามนโยบายและมาตรการรักษาความปลอดภัย</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868750967d944l5vi.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Computer Forensics and Cybercrime</u></h5>
                          <p class="card-text">การศึกษาและวิเคราะห์หลักฐานดิจิทัลเพื่อช่วยในการสืบสวนอาชญากรรมทางคอมพิวเตอร์ การตรวจสอบและติดตามกิจกรรมที่ผิดกฎหมายในโลกไซเบอร์</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725868903956i5um4ot9.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Database Systems</u></h5>
                          <p class="card-text">การออกแบบ การจัดการ และการบำรุงรักษาระบบฐานข้อมูล การใช้ภาษาสำหรับจัดการฐานข้อมูล (เช่น SQL) และการทำงานกับข้อมูลเพื่อให้สามารถเข้าถึงและจัดการได้อย่างมีประสิทธิภาพ</p>
                        </div>
                      </div>
                    </div>
                  </div>
          
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card" style="max-width: 100%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="static\image\1725871239500vrb4volb.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><u>Image Processing</u></h5>
                          <p class="card-text">การใช้เทคนิคการประมวลผลภาพเพื่อปรับปรุงหรือดึงข้อมูลจากภาพ เช่น การกรอง การแปลง และการรู้จำรูปภาพ การใช้งานในหลากหลายด้าน เช่น การแพทย์ การรักษาความปลอดภัย และการสื่อสาร</p>
                        </div>
                      </div>
                    </div>
                  </div>
          
                </div>
                <hr>
              </div>
            </div>
          </div>
      
    </div>
          
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      {% endblock curriculum %}
      

        <!--finish-->
      {% block finish %}
        <div class="container" id='finish4'>
          <!--content-->
          <h1>finish</h1>
      
        </div>
      {% endblock finish %}

      <!--studentwork-->
      {% block studentwork %}
        <div class="container" id='studentwork5'>
          <!--content-->
          <h1>studentwork</h1>
        
        </div>
      {% endblock studentwork %}

        <!--activity-->
      {% block  activity %}
        <div class="container" id='activity1'>
          <!--content-->
          <h1>activity</h1>
        </div>
      {% endblock activity %}

        <!--contact-->
      {% block contact %}
        <div class="container" id='contact2'>
          <!--content-->
          <h1>contact</h1>
        </div>
      {% endblock contact %}

      {% block content %}
      <!--no tuch-->
      {% endblock content %}

      <!--footer-->
      {% block footers %}
        <!--no tuch-->
      {% endblock footers %}
    </main>
    <script src="static\js\javascript.js"></script>
  </body>
</html>