{% extends "base.html" %} {% block content %}
<section class="features" id="features">
  <div class="container px-4 px-lg-5">
    <h3>สามารถเข้าไปรับชมความรู้และความสนุกสนามของพวกเรา ผ่านQRด้านล่างนี้ได้เลย</h3>
    <br>
    <div class="feature-grid">
      <div class="feature-card">
        <div class="feature-icon"></div>
        <h3>QR Code Line</h3>
        <h3>สาขา</h3>
        <img src="static\image\qrcode_125429574_1c1b45531b673acf3345cda4ca95eac4.png" class="img-thumbnail" alt="...">
      </div>
      <div class="feature-card">
        <div class="feature-icon"></div>
        <h3>QR Code Facebook สาขา</h3>
        <img src="static\image\fb.png" class="img-thumbnail" alt="...">
      </div>
      <div class="feature-card">
        <div class="feature-icon"></div>
        <h3>QR Code TikTok สาขา</h3>
        <img src="static\image\qrcode_125428742_0f62c051cffc173779a11df2a621e07d.png" class="img-thumbnail" alt="...">
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block footers %}
<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  
<footer id="footers">
  <div class="container">
    <p>&copy; 2024 สาขาวิทยาการคอมพิวเตอร์. สร้างด้วยความเท่ 🤘</p>
  </div>
</footer>

{% endblock footers %}
